<section>
    <video src="assets/videos/inkInject.mp4"
                    autoplay="" muted="" loop=""></video>
    <div class="box">
        <div>
            <span><video src="assets/videos/inkInject.mp4"
                    autoplay="" muted="" loop=""></video></span>
            <span><video src="assets/videos/inkInject.mp4"
                autoplay="" muted="" loop=""></video></span>
            <span><video src="assets/videos/inkInject.mp4"
                autoplay="" muted="" loop=""></video></span>
        </div>
    </div>
</section>