<div class="banner"></div>
<section>
    <div class="imgBx">
        <img src="assets/img/2.jpg" alt="">
    </div>
    <div class="content">
        <h2>Apple Watch</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus blanditiis animi adipisci omnis soluta officiis, fuga magni ipsum doloremque earum. Doloremque voluptatem necessitatibus illo officiis accusamus esse nam, hic quos ex. Maxime molestiae porro incidunt recusandae praesentium nobis, quae sunt culpa quam quo obcaecati repudiandae! Ipsum blanditiis fugiat quaerat ipsa accusantium, cumque eius ratione nisi, velit perspiciatis dolore laboriosam quisquam voluptate sunt dolorem repudiandae molestias repellendus hic natus modi. Doloremque, maxime! Nisi sed omnis, nulla ducimus quos iure facilis ipsa ab sint officiis, optio a neque minus quam repellat ullam. Quos delectus eum quas ipsa tenetur, omnis provident cumque ut?</p>
    </div>
</section>

<section>
    <div class="imgBx">
        <img src="assets/img/2.jpg" alt="">
    </div>
    <div class="content">
        <h2>Apple Watch</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus blanditiis animi adipisci omnis soluta officiis, fuga magni ipsum doloremque earum. Doloremque voluptatem necessitatibus illo officiis accusamus esse nam, hic quos ex. Maxime molestiae porro incidunt recusandae praesentium nobis, quae sunt culpa quam quo obcaecati repudiandae! Ipsum blanditiis fugiat quaerat ipsa accusantium, cumque eius ratione nisi, velit perspiciatis dolore laboriosam quisquam voluptate sunt dolorem repudiandae molestias repellendus hic natus modi. Doloremque, maxime! Nisi sed omnis, nulla ducimus quos iure facilis ipsa ab sint officiis, optio a neque minus quam repellat ullam. Quos delectus eum quas ipsa tenetur, omnis provident cumque ut?</p>
    </div>
</section>

<section>
    <div class="imgBx">
        <img src="assets/img/2.jpg" alt="">
    </div>
    <div class="content">
        <h2>Apple Watch</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus blanditiis animi adipisci omnis soluta officiis, fuga magni ipsum doloremque earum. Doloremque voluptatem necessitatibus illo officiis accusamus esse nam, hic quos ex. Maxime molestiae porro incidunt recusandae praesentium nobis, quae sunt culpa quam quo obcaecati repudiandae! Ipsum blanditiis fugiat quaerat ipsa accusantium, cumque eius ratione nisi, velit perspiciatis dolore laboriosam quisquam voluptate sunt dolorem repudiandae molestias repellendus hic natus modi. Doloremque, maxime! Nisi sed omnis, nulla ducimus quos iure facilis ipsa ab sint officiis, optio a neque minus quam repellat ullam. Quos delectus eum quas ipsa tenetur, omnis provident cumque ut?</p>
    </div>
</section>