<header id="header">
    <a href="#" class="logo">LOGO</a>
    <ul>
        <li><a href="#home" class="active">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#team">Team</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
    <div class="toggle"></div>
</header>
<section id="home">
    <div>
        <h2>Responsive Website Design For Begginers</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id tempore non molestiae temporibus, cupiditate eius ducimus aspernatur. Dolor optio similique temporibus quam molestias incidunt. Tempora exercitationem eaque delectus nisi. Id, officiis nemo. Aut, reprehenderit odit deleniti similique tempora delectus consequuntur in. Corporis laudantium obcaecati perferendis minima, sequi temporibus tenetur eius?</p>
        <a href="#">Read More</a>
    </div>
    <img src="assets/img/2.jpg" alt="">
</section>
<section id="about">
    <div>
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id tempore non molestiae temporibus, cupiditate eius ducimus aspernatur. Dolor optio similique temporibus quam molestias incidunt. Tempora exercitationem eaque delectus nisi. Id, officiis nemo. Aut, reprehenderit odit deleniti similique tempora delectus consequuntur in. Corporis laudantium obcaecati perferendis minima, sequi temporibus tenetur eius?</p>
        <a href="#">Read More</a>
    </div>
    <img src="assets/img/2.jpg" alt="">
</section>
<section id="services">
    <div>
        <h2>Our services</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id tempore non molestiae temporibus, cupiditate eius ducimus aspernatur. Dolor optio similique temporibus quam molestias incidunt. Tempora exercitationem eaque delectus nisi. Id, officiis nemo. Aut, reprehenderit odit deleniti similique tempora delectus consequuntur in. Corporis laudantium obcaecati perferendis minima, sequi temporibus tenetur eius?</p>
        <a href="#">Read More</a>
    </div>
    <img src="assets/img/2.jpg" alt="">
</section>
<section id="portfolio">
    <div>
        <h2>Portfolio</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id tempore non molestiae temporibus, cupiditate eius ducimus aspernatur. Dolor optio similique temporibus quam molestias incidunt. Tempora exercitationem eaque delectus nisi. Id, officiis nemo. Aut, reprehenderit odit deleniti similique tempora delectus consequuntur in. Corporis laudantium obcaecati perferendis minima, sequi temporibus tenetur eius?</p>
        <a href="#">Read More</a>
    </div>
    <img src="assets/img/2.jpg" alt="">
</section>
<section id="team">
    <div>
        <h2>Our team</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id tempore non molestiae temporibus, cupiditate eius ducimus aspernatur. Dolor optio similique temporibus quam molestias incidunt. Tempora exercitationem eaque delectus nisi. Id, officiis nemo. Aut, reprehenderit odit deleniti similique tempora delectus consequuntur in. Corporis laudantium obcaecati perferendis minima, sequi temporibus tenetur eius?</p>
        <a href="#">Read More</a>
    </div>
    <img src="assets/img/2.jpg" alt="">
</section>
<section id="contact">
    <div>
        <h2>Contact</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id tempore non molestiae temporibus, cupiditate eius ducimus aspernatur. Dolor optio similique temporibus quam molestias incidunt. Tempora exercitationem eaque delectus nisi. Id, officiis nemo. Aut, reprehenderit odit deleniti similique tempora delectus consequuntur in. Corporis laudantium obcaecati perferendis minima, sequi temporibus tenetur eius?</p>
        <a href="#">Read More</a>
    </div>
    <img src="assets/img/2.jpg" alt="">
</section>